<html>
<head>
	{% if title %}
    <title>{{ title }} - flaskHW</title>
    {% else %}
    <title>Welcome to flaskHW</title>
    {% endif %}
	<link rel="stylesheet" href="/static/css/bootstrap.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/style.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/lightbox.css" crossorigin="anonymous">
</head>
<body>
	<snav class="navbar fixed-top navbar-dark bg-dark">
		<a class="nav-link navbar-brand" href="#">ElpisMelody</a>
		<a class="nav-link" href="/index">Home</a>
		<a class="nav-link" href="/images">Image Gallery</a>
		<a class="nav-link" href="/videos">Video Gallery</a>
		<a class="nav-link" href="/music">Music Gallery</a>
	</snav>
	<div class="container">
		<div class="row justify-content-center">
            <div class="col float_center">
                <div class="child">
                    <h1>Error 404</h1>
                    <p>You have found a dead link</p>
                    <img src="/static/imgs/deadlink.png" width="500px">
                </div>
            </div>
		</div>
	</div>
	<script src="/static/js/jquery-3.2.1.min.js"></script>
	<script src="/static/js/lightbox.js"></script>
</body>
</html>